@font-face {
    font-family: 'Georgia Bold';
    src: local('Georgia Bold'), local('Georgia-Bold'),
        url('../assets/fonts/Georgia-Bold/Georgia-Bold.woff2') format('woff2'),
        url('../assets/fonts/Georgia-Bold/Georgia-Bold.woff') format('woff'),
        url('../assets/fonts/Georgia-Bold/Georgia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }