@font-face {
    font-family: 'Arial Italic';
    src: local('Arial Italic'), local('Arial-Italic'),
        url('../assets/fonts/Arial-ItalicMT/Arial-ItalicMT.woff2') format('woff2'),
        url('../assets/fonts/Arial-ItalicMT/Arial-ItalicMT.woff') format('woff'),
        url('../assets/fonts/Arial-ItalicMT/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }